@model test_platform.Models.Auth.SignInView

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutSignin.cshtml";
}




<div class="overflow-div">
    <section class="d-flex justify-content-center">
        
        <img class="bg-about" src="~/assets/images/background-criteria.png" alt="background">
            

        <img class="title-home block-event" src="~/assets/images/main-title-nohand.png" alt="">
        <div class="form-register col-sm-12 col-md-10">
            <div class="d-flex flex-column flex-wrap align-content-center">
                <div class="container-form">
                    
                    <div class="content">

                        <form asp-action="SignIn" class="row needs-validation tooltip-end-bottom" novalidate>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="auth-form-group-custom filled form-group tooltip-end-top mb-4">
                                <i data-acorn-icon="email"></i>
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Enter email" required>
                            </div>

                            <div class="filled form-group tooltip-end-top mb-4">
                                <i data-acorn-icon="lock-off"></i>
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" required>
                            </div>

                            

                            <div class="mt-4 text-center">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                            </div>

                           
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
@*
<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        

                                        <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                                    
                                    </div>

                                    <div class="p-2 mt-5">
                                        <form class="" asp-action="SignIn">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-mail-line auti-custom-input-icon"></i>
                                                <label asp-for="Email">Email</label>
                                                <input asp-for="Email" class="form-control" placeholder="Enter email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>

                                            <div class="auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label asp-for="Password">Password</label>
                                                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>

                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customControlInline">
                                                <label class="form-check-label" for="customControlInline">Remember me</label>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <a href=@Url.Action("Index", "AuthRecoverpw") class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="mt-5 text-center">
                                        <p>
                                            Bạn chưa ứng tuyển chương trình ? <a href=@Url.Action("Index", "Home")
                                            class="fw-medium text-primary"> Ứng tuyển ngay </a> </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
*@

