@model test_platform.Models.Quiz.QuizViewModel

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_LayoutComplete.cshtml";

}
<link rel="stylesheet" href="~/css/nonScroll.css" type="text/css">
<!-- Content Start -->
<div class="overflow-div" style="overflow-x: hidden !important; height: 100vh;">
    <section class="d-flex flex-column">
        

        <img class="title-home block-event" src="~/assets/images/main-title-nohand.png" alt="">
        <div class="form-register">
            <div class="d-flex flex-column flex-wrap align-content-center">
                <div class="container-form">
                    <div class="title">
                        <h1 style="text-transform: uppercase;">Congratulations! You have completed the Online Test round</h1>
                        <p>
                            Results will be sent to you as soon as possible. For any inquiries, please contact the organizers using the following information:<br><br> 
                        </p>
                        <ul>
                            <li> <strong> Facebook:</strong> Masan Consumer Careers  </li>
                            <li>
                                <strong> Email: </strong> <a href="mailto:careers-masan@msc.masangroup.com"> careers-masan@msc.masangroup.com</a>
                            </li>
                        </ul>
                        <p>Thank you for your time and interest!</p>
                    </div>

                </div>


            </div>
        </div>
    </section>
</div>