@model test_platform.Models.Auth.UserInfo

@{
    ViewData["Title"] = "Home";
}

<!-- Fullpage content -->
<div class="ln-fullpage" data-navigation="true">
    <!-- Section - Home -->
    <section class="ln-section d-flex flex-column home-title" data-anchor="home">
                    
        <div class="overlay overlay-advanced">
            <div class="overlay-inner overlay-video">
                <video autoplay loop muted playsinline playsInline id="myVideoId">
                    <source src="~/assets/images/bg-main.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <img class="title-home block-event" src="~/assets/images/main-title-nohand.png" alt="">
        <a href="@Url.Action("Apply", "Auth")">

        <img  class="title-home apply-btn apply-btn-1" src="~/assets/images/main-button-1.png" alt="">
        <img  class="title-home apply-btn apply-btn-2" id="apply-btn-2" src="~/assets/images/main-button-2.png" alt="">
        </a>
        <p class="timeline text-center">15/10/2023 - 23/11/2023</p>
        <img class="man-home block-event animated" data-animation="rotateIn" src="~/assets/images/man-home.png" alt="">
        <img class="girl-home block-event animated" data-animation="rotateIn" src="~/assets/images/girl-home.png" alt="">
        <div class="timeline-position">
            <div class="blur-image timeline-container">
                <img class="training-session day-1" src="~/assets/images/openapplication.png" alt="">
                <i class="fas fa-hand-point-down hidden" style="color: #ffffff;"></i>
                @*<a class="training-register" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfHjvb7vCSGK_xuxi2WjKiNK-N3jqkBdmbbDbh8QPSEekOzFQ/viewform?zarsrc=410&fbclid=IwAR34K3OMILIkhxRvXJLi-ATtCzf7-9-8SY56rhyaC89gu6h4VNfV57oE_BE">
                    <img class="training-session day-2" src="~/assets/images/opendayoff.png" alt="">
                    <p class="training-session-text text-1 hidden"><u>Register Now</u></p>
                </a>*@
               
                    <img class="training-session day-1" src="~/assets/images/opendayoff.png" alt="">
                    <p class="training-session-text text-1 hidden"><u>Register Now</u></p>
                
                    <img class="training-session day-1" src="~/assets/images/careertalk1-u.png" alt="">
                    <p class="training-session-text text-2 hidden"><u>Register Now</u></p>
               
                    <img class="training-session day-1" src="~/assets/images/careertalk2-u.png" alt="">
                    <p class="training-session-text text-3 hidden"><u>Register Now</u></p>
               
                <img class="training-session day-1" src="~/assets/images/closeapplication.png" alt="">
                <p class="training-session-title">Training Session before program</p>
            </div>
        </div>
        
        
    </section>

     <!-- Section - About -->
    <section class="ln-section about-section" data-anchor="our-mission" data-tooltip="About" data-ui="dark" data-navbar="navbar-light">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img class="bg-about" src="~/assets/images/background-about.png" alt="background">
            </div>
        </div>
        <div class="title-about-border">
            <p class="title-about-text">From a fresh graduate to a successful R&D Talents within 2 years</p>
        </div>
        <img class="title-about block-event" src="~/assets/images/title-about.png" alt="">
        <div class="about-group dropup text-right" onclick="aboutSection(1)">
            <p class="outline-about outline-about-1 text-left">About Masan</p>
            <img class="border-text border-text-1" src="~/assets/images/border-text-focus.png" alt="">
        </div>
        <div class="about-group about-2 dropup text-right" onclick="aboutSection(2)">
            <p class="outline-about outline-about-1 text-left">Our R&D team</p>
            <img class="border-text border-text-2" src="~/assets/images/border-text-normal.png" alt="">
        </div>
        <div class="about-group about-3 dropup text-right" onclick="aboutSection(3)">
            <p class="outline-about outline-about-1 text-left">The next Masan<br /> R&D Talents 2023</p>
            <img class="border-text border-text-3" src="~/assets/images/border-text-normal.png" alt="">
        </div>
        <img class="border-paragraph border-1 block-event" src="~/assets/images/border-paragraph.png" alt="">
        <img class="border-paragraph border-2 block-event hidden" src="~/assets/images/border-paragraph-2.png" alt="">
        <img class="border-paragraph border-3 block-event hidden" src="~/assets/images/border-paragraph-3.png" alt="">
        @*<div class="d-flex flex-column title-about-row align-items-center">
            <div class="row align-items-center">
                <div class="title-about-border">
                    <p class="title-about-text">From a fresh graduate to a successful R&D assistant manager within 3 years</p>
                </div>
                <img class="title-about" src="~/assets/images/title-about.png" alt="">
            </div>
            <div class="row justify-content-center">
                <div class="d-flex flex-column col-4 align-items-end justify-content-center">
                    <div class="about-group dropup text-right" onclick="aboutSection(1)">
                        <p class="outline-about outline-about-1 text-left">About Masan</p>
                        <img class="border-text border-text-1" src="~/assets/images/border-text-focus.png" alt="">
                    </div>
                    <div class="mt-3 about-group dropup text-right" onclick="aboutSection(2)">
                        <p class="outline-about outline-about-1 text-left">Our R&D team</p>
                        <img class="border-text border-text-2" src="~/assets/images/border-text-normal.png" alt="">
                    </div>
                    <div class="mt-3 about-group dropup text-right" onclick="aboutSection(3)">
                        <p class="outline-about outline-about-1 text-left">The next Masan<br /> R&D Talents 2023</p>
                        <img class="border-text border-text-3" src="~/assets/images/border-text-normal.png" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <img class="border-paragraph" src="~/assets/images/border-paragraph.png" alt="">
                    

                </div>

            </div>
        </div>*@
        
    </section>

    <!-- Section - Criteria -->
    <section class="ln-section d-xl-flex flex-column align-items-center criteria-section" data-anchor="criteria" data-tooltip="Criteria">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img src="~/assets/images/background-criteria.png" alt="background">
            </div>
        </div>
        <p class="title-criteria">Who are we looking for?</p>
        <div class="row justify-content-center list-criteria">
            <img class="criteria-pic" onclick="criteriaInfo(0)" src="~/assets/images/normal-0.png" alt="">
            <img class="criteria-pic-open hidden animated" data-animation="fadeIn" src="~/assets/images/focus-0.png" alt="">
            <img class="criteria-pic" onclick="criteriaInfo(1)" src="~/assets/images/normal-1.png" alt="">
            <img class="criteria-pic-open hidden animated" data-animation="fadeIn" src="~/assets/images/focus-1.png" alt="">
            <img class="criteria-pic" onclick="criteriaInfo(2)" src="~/assets/images/normal-2.png" alt="">
            <img class="criteria-pic-open hidden animated" data-animation="fadeIn" src="~/assets/images/focus-2.png" alt="">
        </div>
        @*<div class="row mt-3">
            <div class="circle-container">
                <div class="circle-criteria circle-1 d-flex align-items-center text-center">
                    <p class="criteria-text">Project Management</p>
                </div>
                <div class="circle-criteria circle-2 d-flex align-items-center text-center">
                    <p class="criteria-text">Stakeholder Communication</p>
                </div>
                <div class="circle-criteria circle-3 d-flex align-items-center text-center">
                    <p class="criteria-text">Communication of Technical Concepts</p>
                </div>
                <div class="circle-criteria circle-4 d-flex align-items-center text-center">
                    <p class="criteria-text">Information Numeracy Analysis</p>
                </div>
                <div class="circle-criteria circle-5 d-flex align-items-center text-center">
                    <p class="criteria-text">Scientific Knowledge</p>
                </div>
            </div>
            <div class="senses-container d-flex flex-column">
                <div class="sense-pic senses-1">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Intelligence & Problem solving ability</p>
                    </div>
                </div>
                <div class="sense-pic senses-2">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Leadership ability & Desire for excellence</p>
                    </div>
                </div>
                <div class="sense-pic senses-3">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Integrity & Transparency</p>
                    </div>
                </div>
                <div class="sense-pic senses-4">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Responsibility & Results-oriented</p>
                    </div>
                </div>
                <div class="sense-pic senses-5">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Good at expertise & Always learning</p>
                    </div>
                </div>
                <div class="sense-pic senses-6">
                    <div class="circle-criteria pair d-flex align-items-center text-center">
                        <p class="criteria-text">Together & For consumers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="human-talk">
            <img class="human-talk-pic" src="~/assets/images/man-touch.png" alt="background">
        </div>
        <img class="left-criteria" src="~/assets/images/five-func.png" alt="background">
        <img class="right-criteria" src="~/assets/images/six-pairs.png" alt="background">*@
    </section>

    <!-- Section - Process -->
    <section class="ln-section d-xl-flex flex-column align-items-center process-section" data-anchor="process" data-tooltip="Selection Process" data-ui="dark" data-navbar="navbar-light">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img class="process-bg" src="~/assets/images/background-process.png" alt="background">
            </div>
            <img class="six-scenses-process block-event" src="~/assets/images/six-scenses-process.png" alt="">
        </div>
        
        <p class="title-process">When does the selection process happen?</p>
        <img class="process-talents block-event" src="~/assets/images/young-talents.png" alt="">
        <img class="process-info process-1 hidden" src="~/assets/images/process-1.png" alt="">

        <img class="process-info process-2 hidden" src="~/assets/images/process-2.png" alt="">

        <img class="process-info process-3 hidden" src="~/assets/images/process-3.png" alt="">
        
        <img class="process-info process-4 hidden" src="~/assets/images/process-4.png" alt="">

        <img class="process-info process-5 hidden" src="~/assets/images/process-5.png" alt="">

        <img class="process-info process-6 hidden" src="~/assets/images/process-6.png" alt="">
        <img class="process see-process" onclick="process(0)" src="~/assets/images/see-process.png" alt="">
        <img class="process trust-process" onclick="process(1)" src="~/assets/images/trust-process.png" alt="">
        <img class="process taste-process" onclick="process(2)" src="~/assets/images/taste-process.png" alt="">
        <img class="process smell-process" onclick="process(3)" src="~/assets/images/smell-process.png" alt="">
        <img class="process hear-process" onclick="process(4)" src="~/assets/images/hear-process.png" alt="">
        <img class="process touch-process" onclick="process(5)" src="~/assets/images/touch-process.png" alt="">
       

    </section>
    <!-- Section - Journey -->
    <section class="ln-section d-flex justify-content-center journey-section" data-anchor="journey" data-tooltip="RnD Journey">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img src="~/assets/images/backgroun-journey.png" alt="background">
            </div>
        </div>
        
            <p class="title-journey">R&D Talents Journey</p>
            <img src="~/assets/images/second-year.png" id="journey-3" onclick="clickJourney(3)" class="round-journey round-1" alt="">
            <img src="~/assets/images/first-year.png" id="journey-2" onclick="clickJourney(2)" class="round-journey round-2" alt="">
            <img src="~/assets/images/second-year-click.png" id="journey-3-click" class="round-journey round-1 hidden" alt="">
            <img src="~/assets/images/first-year-click.png" id="journey-2-click" class="round-journey round-2 hidden" alt="">
            <img src="~/assets/images/network.png" class="round-journey earth-3" alt="">
            <img src="~/assets/images/network.png" class="round-journey earth-2" alt="">
    </section>

    <!-- Section - Our message -->
    <section class="ln-section d-xl-flex flex-column justify-content-center testimonial-section" data-anchor="message" data-tooltip="Messages" data-ui="dark" data-navbar="navbar-light">
        
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img class="testimonial-background" src="~/assets/images/bottle-background.png" alt="background">
            </div>
        </div>
        
        <p class="title-2 text-center" data-animation="fadeInUp" data-animation-delay="300">Message from our talents</p>
        <div class="row row-cols-7 justify-content-center message-list" id="message-list"  data-animation="fadeInUp" data-animation-delay="300">
            <div class="message d-flex flex-column align-items-center ml-6 mr-6 focus" onclick="toggleVisibility(0)">
                <img class="person-message person-1" src="~/assets/images/chiThuong.jpg" alt="">
                <div class="title-group dropup text-center testimonial-focus">
                    <p class="title-message">Chị Nguyễn Ngọc Thương</p>
                    <img class="title-border" src="~/assets/images/testimonial-focus.png" alt="">
                </div>
            </div>
            <div class="message d-flex flex-column align-items-center ml-6 mr-6" onclick="toggleVisibility(1)">
                <img class="person-message person-1" src="~/assets/images/anhKiet.jpg" alt="">
                <div class="title-group dropup text-center">
                    <p class="title-message">Anh Huỳnh Tuấn Kiệt</p>
                    <img class="title-border" src="~/assets/images/text-border-blue.png" alt="">
                </div>
            </div>
            <div class="message d-flex flex-column align-items-center ml-6 mr-6" onclick="toggleVisibility(2)">
                <img class="person-message person-1" src="~/assets/images/chiDan.jpg" alt="">
                <div class="title-group dropup text-center">
                    <p class="title-message">Chị Huỳnh Nguyễn Hiếu Dân</p>
                    <img class="title-border" src="~/assets/images/text-border-blue.png" alt="">
                </div>
            </div>
            <div class="message d-flex flex-column align-items-center ml-6 mr-6" onclick="toggleVisibility(3)">
                <img class="person-message person-1" src="~/assets/images/chiVi.jpg" alt="">
                <div class="title-group dropup text-center">
                    <p class="title-message">Chị Nguyễn Ngọc Thanh Vi</p>
                    <img class="title-border" src="~/assets/images/text-border-blue.png" alt="">
                </div>
            </div>
         
            <div class="message d-flex flex-column align-items-center ml-6 mr-6" onclick="toggleVisibility(4)">
                <img class="person-message person-1" src="~/assets/images/anhDo.jpg" alt="">
                <div class="title-group dropup text-center">
                    <p class="title-message">Anh Nguyễn Dũng Đô</p>
                    <img class="title-border" src="~/assets/images/text-border-blue.png" alt="">
                </div>
            </div>
            
        
        </div>
        <div class="slick-testimonial">
            <div> <img class="border-testimonial" src="~/assets/images/testimonial-1.png" alt=""></div>
            <div><img class="border-testimonial hidden" src="~/assets/images/testimonial-2.png" alt=""></div>
            <div><img class="border-testimonial hidden" src="~/assets/images/testimonial-3.png" alt=""></div>
            <div><img class="border-testimonial hidden" src="~/assets/images/testimonial-4.png" alt=""></div>
            <div><img class="border-testimonial hidden" src="~/assets/images/testimonial-5.png" alt=""></div>
        </div>
    </section>

    <!-- Section - Product -->
    <section class="ln-section d-xl-flex product-section" data-anchor="product" data-tooltip="Product">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img class="product-bg" src="~/assets/images/product.png" alt="background">
            </div>
        </div>

    </section>

    <!-- Section - Contact -->
    <section class="ln-section d-xl-flex contact-section" data-anchor="contact" data-tooltip="Contact" data-navbar="navbar-light" data-ui="dark">
        <div class="overlay overlay-advanced">
            <div class="overlay-inner bg-image-holder bg-cover">
                <img class="contact-bg" src="~/assets/images/background-contact.png" alt="background">
            </div>
        </div>
        
        <p class="title-contact">Contact Us</p>
        <img class="phone-contact" src="~/assets/images/phone-contact.png" alt="">
        <a href="https://www.facebook.com/masanconsumercareers" target="_blank">
                <img class="fb-contact" src="~/assets/images/facebook-contact.png" alt="">
            </a>
        <a href="https://www.linkedin.com/company/masan-consumer-holdings/" target="_blank">
            <img class="linkedin-contact" src="~/assets/images/linkedin-contact.png" alt="">
        </a>


        <img class="phone-contact-circle" src="~/assets/images/Asset24.png" alt="">
        <img class="fb-contact-circle" src="~/assets/images/Asset24.png" alt="">
        <img class="linkedin-contact-circle" src="~/assets/images/Asset24.png" alt="">
     
        
    </section>
    
</div>
    
<script>
    var isMobile = false;
    var windowWidth = window.innerWidth;
    if (windowWidth < 900) {
        isMobile = true;
        const aboutgroup = document.querySelectorAll('.border-paragraph');
        const criteriaGroup = document.querySelectorAll('.criteria-pic-open');
        const borderTestimonialList = document.querySelectorAll('.border-testimonial');
        const slickTestimonial = document.querySelector('.slick-testimonial');
        aboutgroup[1].classList.remove('hidden');
        aboutgroup[2].classList.remove('hidden');
        aboutgroup[0].setAttribute('src', "/assets/images/mobile/border-paragraph.png");
        aboutgroup[1].setAttribute('src', "/assets/images/mobile/border-paragraph-2.png");
        aboutgroup[2].setAttribute('src', "/assets/images/mobile/border-paragraph-3.png");
        criteriaGroup[0].setAttribute('src', "/assets/images/mobile/focus-0.png");
        criteriaGroup[1].setAttribute('src', "/assets/images/mobile/focus-1.png");
        criteriaGroup[2].setAttribute('src', "/assets/images/mobile/focus-2.png");
        borderTestimonialList[0].setAttribute('src', "/assets/images/mobile/testimonial-1.png");
        borderTestimonialList[1].setAttribute('src', "/assets/images/mobile/testimonial-2.png");
        borderTestimonialList[2].setAttribute('src', "/assets/images/mobile/testimonial-3.png");
        borderTestimonialList[3].setAttribute('src', "/assets/images/mobile/testimonial-4.png");
        borderTestimonialList[4].setAttribute('src', "/assets/images/mobile/testimonial-5.png");
        slickTestimonial.classList.add('slider');
    }

    //const divA = document.querySelector('.training-register');
    //const divB = document.querySelector('.fa-hand-point-down');

    //divA.addEventListener('mouseover', () => {
    //    divB.style.opacity = 0;
    //});

    //divA.addEventListener('mouseout', () => {
    //    divB.style.opacity = 1;
    //});


    const btn_2 = document.getElementById('apply-btn-2');
    var btnHidden = false;
    setInterval(function () {

        if (btnHidden === false) {
            btn_2.style.display = "none"; // Sử dụng "=" thay vì "()" để thiết lập kiểu hiển thị "none"
            btnHidden = true;
        }
        else {
            btn_2.classList.remove('animated');
            btn_2.style.display = "block";
            btnHidden = false;
        }
    }, 500);

    var messageList = document.querySelectorAll('.message');
    var messageDiv = document.getElementById('message-list');
    var messageFocus = document.getElementById('message-focus');

    function toggleVisibility(index) 
    {
        var i = 0;
        var stt = index + 1;
        var source = "/assets/images/testimonial-" + stt + ".png";
        const borderTestimonialList = document.querySelectorAll('.border-testimonial');
        const shareGroup = document.querySelectorAll('.title-group');
        const shareBorder = document.querySelectorAll('.title-border');
        shareGroup.forEach(share => {
            if (i === index)
            {
                share.classList.add('testimonial-focus');
                shareBorder[index].setAttribute('src', "/assets/images/testimonial-focus.png");
                borderTestimonialList[i].classList.remove("hidden");
                messageList[i].classList.add('focus');
            } else {
                share.classList.remove('testimonial-focus');
                shareBorder[i].setAttribute('src', "/assets/images/text-border-blue.png");
                borderTestimonialList[i].classList.add("hidden");
                messageList[i].classList.remove('focus');
            }
            i +=1;
        });
    }
    
    function aboutSection(index) {
        var i = 1;
        var className = ".border-text-" + index;
        
        const borderGroup = document.querySelectorAll('.border-text');
        const aboutGroup = document.querySelectorAll('.about-group');
        const infoGroup = document.querySelectorAll('.border-paragraph');
        const paragraph = document.getElementById('title-about');
        const listFunc = document.getElementById('list-func');
        borderGroup.forEach(border => {
            if (i === index) {
                border.setAttribute('src', "/assets/images/border-text-focus.png");
                
                infoGroup[i-1].classList.remove('hidden');
            }
            else {
                border.setAttribute('src', "/assets/images/border-text-normal.png");
               
                infoGroup[i-1].classList.add('hidden');
            }
            
            i += 1;
        });
    }
    
    function process(index) {
        if (!document.body.classList.contains('layout-mobile')) {
            var i = 0;
            const processList = document.querySelectorAll('.process');
            const processImage = document.querySelectorAll('.process-info');
            const talentImage = document.querySelector('.process-talents');
        
            var stt = index + 1;
            var source = "/assets/images/process-" + stt + ".png";
            processList.forEach(process => {
                if (process.style.opacity === "1" && i === index) {
                    process.style.opacity = "0";
                    processImage[i].classList.add('hidden');
                    talentImage.style.display = "block";
                }
                else if (i === index) {
                    process.style.opacity = "1";
                    processImage[i].classList.remove('hidden');
                    talentImage.style.display = "none";
                }
                else {
                    process.style.opacity = "0";
                    processImage[i].classList.add('hidden');
                }
            
            
                i += 1;
            });
        }
        
    }
    
    function criteriaInfo(index) {
        var boxNum = 0;
        var open = false;
        const listCriteria = document.querySelectorAll('.criteria-pic');
        const listCriteriaOpen = document.querySelectorAll('.criteria-pic-open');
      
        listCriteriaOpen[index].classList.remove('hidden');
        
        listCriteria[index].classList.add('hidden');
        listCriteriaOpen[index].addEventListener("click", function () {
            listCriteriaOpen[index].classList.remove('open');
            listCriteriaOpen[index].classList.add('hidden');
            listCriteria[index].classList.remove('hidden');
            listCriteria.forEach(box => {
                box.classList.remove('not-open');
            });
        });
        listCriteria.forEach(box => {
           if (index != boxNum) {
                box.classList.remove('hidden');
                listCriteriaOpen[boxNum].classList.add('hidden');
                listCriteriaOpen[boxNum].classList.remove('open');
                box.classList.add('not-open');
            }
           
            boxNum += 1;
        });
        listCriteriaOpen[index].classList.add('open');
    }
    function clickJourney(index) {
        var nameHide = "journey-" + index;
        var earthHide = ".earth-" + index;
        const hiddenDiv = document.getElementById(nameHide);
        const clickDiv = document.getElementById(nameHide + "-click");
        const earth = document.querySelector(earthHide);
        hiddenDiv.classList.add('hidden');
        earth.classList.add('hidden');
        clickDiv.classList.remove('hidden');

        clickDiv.addEventListener("click", function () {
            clickDiv.classList.add('hidden');
            hiddenDiv.classList.remove('hidden');
            earth.classList.remove('hidden');
        });
    }
    const listJourney = document.querySelectorAll('.round-journey');
    function changeFilter(image) {
        if (image.style.filter != 'brightness(100%)') {
            image.style.filter = 'brightness(100%)';
        } else {
            image.style.filter = 'brightness(110%)';
        }
    }

    const filterInterval = setInterval(changeFilter(listJourney[0]), 300);
</script>
@*<div class="text-center">
    <h1 class="display-4">Điền form</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="p-2 mt-5">
        <form class="" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="auth-form-group-custom mb-4">
                <i class="ri-user-2-line auti-custom-input-icon"></i>
                <label asp-for="FullName">FullName</label>
                <input asp-for="FullName" class="form-control" placeholder="Họ và tên">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="auth-form-group-custom mb-4">
                <i class="ri-mail-line auti-custom-input-icon"></i>
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="auth-form-group-custom mb-4">
                <i class="ri-lock-2-line auti-custom-input-icon"></i>
                <label asp-for="PhoneNumber">Số điện thoại</label>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="auth-form-group-custom mb-4">
                <i class="ri-lock-2-line auti-custom-input-icon"></i>
                <label asp-for="BirthDate">Ngày sinh</label>
                <input asp-for="BirthDate" type="datetime" class="form-control" placeholder="Ngày sinh">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>


            <div class="text-center">
                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
            </div>

            <div class="mt-4 text-center">
                <p class="mb-0">Nếu bạn đã có tài khoản  <a href=@Url.Action("Index", "Auth") class="text-primary">Đăng nhập</a></p>
            </div>
        </form>
    </div>
</div>*@
