<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Next Masan Talents</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test_platform.styles.css" asp-append-version="true" />*@

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/jquery.fullpage.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/vegas.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnific-popup.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/vendor/themify-icons.css" type="text/css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CMontserrat:200,300,400,500,700,800,900&display=swap">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.css">

    <link rel="stylesheet" href="~/assets/css/custom.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WWJSMPXW5T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WWJSMPXW5T');
    </script>
    @RenderSection("styles", required: false)
   
</head>
<body class="layout-wide">
    <div class="loader bg-light">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="top"></div>
   
        <!-- Site navigation -->
        <nav class="site-navbar site-navbar-transparent navbar navbar-expand-md navbar-dark fixed-top bg-white shadow-light p-lg-4" data-navbar-base="navbar-dark" data-navbar-toggled="navbar-light" data-navbar-scrolled="navbar-light">

            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/assets/images/MSC_Logo.png" class="navbar-brand-img" alt="">
            </a>
            <a class="btn btn-primary hidden apply-mobile ml-lg-3" id="apply-header" href=@Url.Action("Apply", "Auth")>APPLY NOW!</a>
            <!-- Toggler -->
            <button class="navbar-toggler-alternative" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-alternative-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Navigation -->
                <ul class="navbar-nav ml-auto" id="navigation">
                    <li class="nav-item active" data-menuanchor="home">
                        <a class="nav-link" href="#home">Program</a>
                    </li>
                    <li class="nav-item" data-menuanchor="our-mission">
                        <a class="nav-link" href="#our-mission">About</a>
                    </li>
                    <li class="nav-item" data-menuanchor="criteria">
                    <a class="nav-link" href="#criteria">Criteria</a>
                    </li>
                <li class="nav-item" data-menuanchor="process">
                    <a class="nav-link" href="#process">Selection Process</a>
                </li>
                    <li class="nav-item" data-menuanchor="journey">
                    <a class="nav-link" href="#journey">R&D Journey</a>
                    </li>
                    <li class="nav-item" data-menuanchor="message">
                        <a class="nav-link" href="#message">Testimonial</a>
                    </li>
                    <li class="nav-item" data-menuanchor="product">
                        <a class="nav-link" href="#product">Product</a>
                    </li>
                    <li class="nav-item" data-menuanchor="contact">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>

                
                <!-- Button -->
            <a class="btn btn-primary d-block d-lg-inline-block ml-lg-3" id="apply-header" href=@Url.Action("Apply", "Auth")>APPLY NOW!</a>

            </div>
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">test_platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignIn">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    
   
    
    <!-- Back To Top Button -->
    <a href="#top" class="backtotop">
        <i class="fas fa-angle-up"></i>
    </a>
   
        
    @RenderBody()
        
   

   

    <!-- Fullpage - Social icons -->
    <div class="social-list-btn d-flex flex-column">
        <a class="social-btn" id="apply-now-btn" href="#!">APPLY NOW!</a>
        <a class="social-btn" href="https://www.facebook.com/masanconsumercareers" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="social-btn" href="https://www.linkedin.com/company/masan-consumer-holdings/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="social-btn" href="#!"><i class="fab fa-google"></i></a>

    </div>
   

    <!-- Fullpage - Copyright -->
    <div class="ln-copyright text-right">
        <p class="mb-0">© 2023 MASAN TALENTS PROGRAM </p>
    </div>


    <!-- JAVASCRIPT -->
    <script src="~/assets/dist/jquery.min.js"></script>
    <script src="~/assets/dist/bootstrap.min.js"></script>
    <script src="~/assets/dist/jquery.countdown.min.js"></script>
    <script src="~/assets/dist/jquery.fullpage.min.js"></script>
    <script src="~/assets/dist/granim.min.js"></script>
    <script src="~/assets/dist/jquery.waypoints.min.js"></script>
    <script src="~/assets/dist/popper.min.js"></script>
    <script src="~/assets/dist/scrolloverflow.min.js"></script>
    <script src="~/assets/libs/slick/slick.min.js"></script>
    <script src="~/assets/libs/vegas/vegas.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    @RenderSection("scripts", required: false)

    <!-- App js -->
    <script src="~/assets/js/main.js"></script>
    <script>
        const btnApply = document.getElementById('apply-now-btn');
        const btnHeader = document.getElementById('apply-header');
        
        var isBlue = true;
        setInterval(function () {
            if (isBlue === false) {
                isBlue = true;
                btnApply.style.backgroundColor = "#0b58a1";
                btnHeader.style.backgroundColor = "#0b58a1";
            }
            else {
                isBlue = false;
                btnApply.style.backgroundColor = "#ef9354";
                btnHeader.style.backgroundColor = "#ef9354";
            }
        }, 500);
    </script>
</body>
</html>
