<!DOCTYPE html>
<html lang="en" data-radius="rounded" data-color="light-blue" data-placement="horizontal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test_platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test_platform.styles.css" asp-append-version="true" />
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <script src="/icon/acorn-icons.js"></script>
    <script src="/icon/acorn-icons-interface.js"></script>
    <script src="/icon/acorn-icons-learning.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">

    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <div id="nav" class="nav-container d-flex">
            <div class="nav-content d-flex justify-content-between">
                <!-- Logo Start -->
                <div class="logo position-relative">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/MSC_Logo.png" class="navbar-brand-img" alt="" style="width: 8vw">
                    </a>
                </div>
                <!-- Logo End -->
            
            
            <!-- Mobile Buttons End -->
            </div>
            <div class="nav-shadow"></div>
        </div>
    </header>
    <main>
    @RenderBody()
    </main>
  
 
    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/vendor/list.js"></script>

    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <!-- Responsive Table js -->
    <script src="~/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>

    <!-- Init js -->
    <script src="~/assets/js/pages/table-responsive.init.js"></script>
    <script src="~/js/apps/contacts.js"></script>
    

    <!-- Apps js -->
    <script src="~/js/cs/checkall.js"></script>
    <script src="~/js/cs/wizard.js"></script>
    <script src="~/js/vendor/wizards.js"></script>
    @RenderSection("scripts", required: false)

    <!-- App js -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>
