@model IEnumerable<test_platform.Models.Auth.UserInfo>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutComplete.cshtml";

}
<div class="text-center">
    <h1 class="display-4">Update Quiz</h1>
    <form asp-action="UploadAccount">
        <input type="file" class="form-control" />
        <button class="btn btn-outline-primary" id="submit" style="width: fit-content; padding-left: 10px; padding-right: 10px;" type="submit">Submit</button>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center bg-white rounded alert-link"></div>
    <form asp-action="CreateTestQuest"> 
        <input type="file" class="form-control" />
        <button class="btn btn-outline-primary" id="submit" style="width: fit-content; padding-left: 10px; padding-right: 10px;" type="submit">Add</button>
    </form>
</div>


